* {
  font-family: "Comfortaa", sans-serif;
  font-style: normal;
}

body{
    min-height: 100vh;
    background: conic-gradient(#04ffc5, #ff0000, #5800ff, #00fd9c, #04ffc5);
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


}














































